.circular-gallery {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: grab;
}

.circular-gallery:active {
    cursor: grabbing;
}

.circular-gallery canvas {
    width: 100%;
    height: 100%;
    display: block;
}